{% extends 'base.html.twig' %}

{% block title %}New Products{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
{% endblock %}

{% block body %}
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h1 class="text-center mb-4 text-primary">Create new Products</h1>
        {{ include('products/_form.html.twig') }}
        <a href="{{ path('app_products_index') }}" class="btn btn-secondary">Back to list</a>
      </div>
    </div>
  </div>
{% endblock %}
